:root {
    --sapTextColor: #32363a;
    --fdRating_Indicator_Disabled_Selected_Color: #ffc847;
    --fdRating_Indicator_Disabled_Unselected_Color: #8696a9;
    --fdRating_Indicator_Display_Only_Selected_Color: #fafafa;
}
