:host(:not([hidden])) {
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    background: var(--sapBackgroundColor, #ffffff);;
}

.aui5-stars {
    display: flex;
}

.aui5-star {
    color: #32363a;
    color: var(--sapTextColor, #32363a);
}

.aui5-star-size {
    font-size: 2.5rem;
}

